<table id="header_tbl">
	<tr>
		<td align="right">Total Order Amount</td>
		<td align="right">&nbsp;&yen;<%=cart.total_amount%></td>
	</tr>
	<tr>
		<td align="right">Amount Paid</td>
		<td align="right">&nbsp;&yen;<%=cart.amount_paid.to_i%></td>
	</tr>
</table>

