<table id="corder_table">
<tr>
	<th>Order#</th>
	<th>Amount</th>
	<th>Ordered At</th>
</tr>	
<% @orders.each do |order| -%>
<tr>
	<td><%= link_to_function order.order_id, "goCorder('#{order.order_id}')" %></td>
	<td>&yen;<%= order.total_amount %></td>
	<td><%= order.confirmed_at %></td>
</tr>

<% end -%>
</table>