 <tr id="supplier_total_<%=supplier_total[:id]%>" class="total-line">
  <td align="right">Supplier Total</td>
  <td></td>
  <td align="right"><%= supplier_total[:weight] %>kg</td>
  <td align="right">&yen;<%= supplier_total[:amount] %></td>
  <td align="right"><%= supplier_total[:points] %></td>
  <td></td>
 </tr>
