
この度はTentoExpress.jpをご利用いただき、誠にありがとうございます。
ご注文内容・金額は以下のとおりとなりますので、ご確認ください。
<ul>
<li>万一、売り切れの場合やお届けが遅くなる場合は、別途、メールでご連絡させていただきます。</li>
<li>ご注文いただいた商品は、準備が出来次第発送いたします。発送後、再度メールにてご連絡いたします。また、当社規定により、振込み、コンビニ払いの場合、代金先払いでお願いしております。お支払い確認後、出荷いたします。 ご了承ください。</li>
<li>納品書は、同封しておりません。料金・ご注文内容等のご案内は、ご注文確認のメールに記載しておりますので、大切に保存下さい。</li>
ご利用ありがとうございました。
</ul>
