* {
    padding: 0px;
    margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
}

body, table, div, td, input {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
}

h2 {
	margin: 5px 10px;
}

table 
{
	border-collapse: collapse;
	margin: 5px 10px;
    border: 1px solid #cccccc;
}

td, th {
  border: 1px dotted #cccccc;
  padding: 4px;
}

#header_tbl {
}

#header_tbl td {
	font-size: 16px;
}

.totals td {
	font-weight: bold;
}
