* {
    padding: 0px;
    margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
}

body, table, div, td, input {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #483324;
}

h1 {
	margin: 20px;
}

table 
{
	border-collapse: collapse;
	margin: 10px;
}

td, th {
  border: 1px dotted #B74;
  padding: 3px;
}
