* {
    padding: 0px;
    margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

body {
    background-color: #fff;
}

body, table, div, td, input {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #483324;
}

a img {border: 0}


#header_box {
	position:relative;
	height: 60px;
	border-bottom: 3px solid #339966;;
	background: #99ffcc;;
	width: 100%;
}

#logo_box {
	float:left; 
	padding: 15px;
}

#header_info_box, #language_box, #user_info_box {
	float: right; 
	padding: 5px;
}

#nav_box {
	position: absolute;
	left: 0;
	width: 150px;
	background: #ffffcc;
}

#container_box {
	position: absolute;
	left: 150px;
	right: 0;
}

