* {
    padding: 0px;
    margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
}

body, table, div, td, input {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #483324;
}

#main_continer {
	max-width: 1024px;
	min-width: 800px;
	position:relative;
	margin: 0 auto;
}

a img {border: 0}


#logo1-cell {
	width: 162px;
	background:url(/images/logo-1.png) no-repeat right top;
}

#logo2-cell {
	background:url(/images/logo-2.png) repeat-x left top;
}

#logo3-cell {
	background:url(/images/logo-3.png) no-repeat left top;
	width:23px;
}

#logo2-cell img {
	float:left;
	padding: 25px;
}

#nav_box {
  position: absolute;
  top: 140px;
	left: 10px;
  height: auto;
  width:170px;
}

#container_box {
	position: absolute;
  top: 84px;
	left: 185px;
	right: 0;
  height: auto;
  width: auto;
}


#main_box {
  position: absolute;
  height: auto;
  top: 0;
	left: 0;
  right: 0;
}

#center_box {
    position:absolute;
    top: 0;
    left: 0;
    width: 55%;
}

#right_box {
    position:absolute;
    top: 0;
    right: 0;
    padding-right: 14px;
    width: 39%;
}

.c_boxes {
    float:left;
    width: 100%;
    border: 1px solid #B74;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.cat_tables {
  padding: 6px;
  width: 100%;
  float:left;
}

.cat_tables td {
    border-bottom: 1px dotted #EB8;
}

#cart_table {
  padding: 6px;
  width: 100%;
  float:left;
}



.c_box_headers {
	display:block;
	text-decoration:none;
  float:left;
  width: 100%;
	font-weight: bold;
	background-color: #EB8;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius-topleft: 4px;
  -webkit-border-radius-topright: 4px;
}

.c_box_headers span {
  float:left;
  padding: 3px;
}

.c_box_context {
  float:left;
  width:100%;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-bottomleft: 4px;
  -webkit-border-radius-bottomright: 4px;
}

#cart_box {
   background-image:  url(/images/cart-bg.png);
}

.secure_context {
	background-color:#F6F6B6;
}

.brw_items {
  position: relative;
}

.cat_item {
    border-bottom: 1px dotted #EB8;
    width: 160px;
    cursor:pointer;
    padding: 2px;
    margin-left: 2px;
}

.cat_desc {
  font-size: 0.9em;
  margin-left: 6px;
}


.catalog_line_boxes {
  border: 1px solid #B74;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2px;
  float: left;
  width:100%;
  vertical-align: middle;
}

.catalog_line_boxes div{
  margin: 5px;
  float: left;
}

/*  --v-- Menu --v-- */

#tab 
{
	top:0;
	height:0;
	margin:0;
}
#tab ul 
{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
#tab li 
{
	float:left;
	clear:both;
	margin:0 1px 0 0;
	padding:0;
}
#tab a 
{
	background:url(/images/bright.gif) no-repeat right bottom;
	text-decoration:none;
	width:170px;
	border:0;
	display:block;
	float:left;
	margin:0;
	padding:0;
}
#tab a span 
{
	display:block;
	background:url(/images/bleft.gif) no-repeat left bottom;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#DD8715;
	font-weight:700;
	line-height:21px;
	padding:0 10px;
}
#tab a:hover,#tab li.item_active a 
{
	background-position:right top;
}
#tab a:hover span,#tab li.item_active a span 
{
	background-position:left top;
	color:#000;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
}

/* --^-- Menu --^-- */


#checkout_cart_box td {
  border-bottom: 1px dotted #EB8;
}

.supplier_product_hdr {
	font-weight: bold;
	padding: 16px 2px 2px 12px;
}

tr.total-line td {
	font-weight: bold;
  border-bottom: 1px solid #EB8;
}

#botton_panel {
    border: 1px solid #EB8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 6px;
    margin: auto;
    text-align: center; 
    background-color: #cfc;
    width: 70%;
    clear:both;
}

.updating td {
    background-color: #FFFF00;
}

.fieldWithErrors { 
	border: 1px solid red;
} 

.img_popup {
  top: -75px;
  right:-314px; 
  width:400px; 
  height:300px; 
  background:#ccc; 
  position:absolute;
/*  border: 1px solid #EB8; */
  padding:5px;
}
