* {
    padding: 0px;
    margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

body {
    background-color: #fff;
}

body, table, div, td, input {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #483324;
}

a img {border: 0}

#header_box {
	float: left;
	width: 100%;
	clear: both;
	background: #99ffcc;
}

#logo_box {
	float:left;
	padding: 15px;
}
#header_info_box, #language_box, #user_info_box {
	float: right;
	padding: 5px;
}

#nav_box{
	float: left;
	width: 100%;
	clear: both;
	background: #66cc99;
	padding: 2px 0;
}

#nav_box ul
{
        list-style:none;
        float:left;
        margin:0;
        margin-left: 10px;
		padding:0;
		
}
#nav_box li
{
        display:inline;
        float:left;
        margin:0 10px 0 0;
        padding:0;
}
