Thank you for shopping at TentoExpress.jp
This email is to confirm your order. Please review the order detail below carefully.
<ul>
<li>In case we have no inventory, we will contact you in a separate email.</li>
<li>As our company policy, with the bank transfers or convenient store payments, we ship goods after we confirm your payments.</li>
<li>The receipt is enclosed in the shipment, so please remain this email for your record.</li>
</ul>
