<div id="header_box">
	<div id="logo_box">
		<h1>LOGO!!!</h1>
	</div>
	<div id="header_info_box">
		<div id="language_box"><a href="#">English</a> <a href="#">日本語</a></div>
		<br/>
		<div id="user_info_box"><a href="#">Kraportov Arkadiy</a></div>
	</div>
</div>
<div id="nav_box">
	<ul>
		<li><a href="#">Home</a> | </li>
		<li><a href="#">Shop</a> | </li>
		<li><a href="#">Links</a> | </li>
	</ul>
</div>
	
<div id="the_box">
	<div id="home_box"></div>
	<div id="main_box">
		<div id="browser_box"></div>
		<div id="catalog_box"></div>
		<div id="cart_box"></div>
	</div>
</div>
	
