<h1>Welcome to TentoExpress.jp</h1>
<h2>Your Local Online Shop</h2>
<div class="info">
<%= image_tag "store.jpg", :style => "float:right"%>
<p>
We are an online natural food shop, delivering the best seasonal produce right to your door directly from the farm.
</p><p>
To maintain our high quality standards, we constantly seek out small producers who take great pride in harvesting food the way Mother Nature intended—with minimal agrichemicals and human intervention, but with loads care. 
</p><p>
We specialize in seasonal ingredients, so that every vegetable, fruit and prepared staple is at its flavor peak when it arrives at your home.
</p><p>
We ship directly from the farm, so veggies don’t sit in a warehouse or a truck for days at a time, losing their nutrition, flavor and freshness.
</p><p>
Our service is ideal for busy people who do not have time for grocery shopping but who value the taste of a homemade meal. No more lugging heavy bags from the store! Our delicious produce will arrive at your door securely packaged and ready to be made into your favorite recipe.
</p><p>
We want you to know as much about what you’re eating as we do, so we provide detailed information about the farmers and how they produce each product. You want you to have absolute confidence in the product you are buying.
</p><p>
Eating fresh, healthy and nutritious food is very important to our family. And we take pride and joy in bringing our dedication and commitment to your family.
</p>
</div>
